<div class="books-list">
  <span class="page-title">Books</span>
  <div class="books-table">
    <span>Books table</span>
    <table>
      <tr class="header">
        <th>Title</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let book of books" class="title-row">
        <td class="title">
          {{ book.title }}
        </td>
        <td>
          <a [routerLink]="['../book-details',book.id]" style="display: block;  width: 100%; color:black">
            <fa-icon [icon]="faList" size="lg" ></fa-icon>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
