<div class="about">
  <span class="page-title">About</span>

  <div class="info">
    <span>Info</span>
    <p>
      <strong>Author: </strong> Hello my name is Christopher and I am self-taught programmer. <br>
      I have been learning programming for 8 months. <br>
      I use : angualr,laravel,js,php,html,css,scss,mysql,docker,git. <br>
      I am at junior(or little higher) level with those technologies. <br>
      You can find my projects on github: <br>
      <a href="https://github.com/krzysiekm266?tab=repositories"  target="_blank">My github projects</a> <br>
      My goal is to become fullstack developer.

    </p>
    <p>
      <strong>Page: </strong> Page was created as apart of my CV. <br>
      It uses mock data for login credentials and books. <br>
      Books tab and book details are only accessible after login,<br>
      if user is not login it will be redirect to login page. <br>
      This page was created using Angular 13. <br>
    </p>
    <ul>
      <p class="list-title">Here are some of angular technologies i used in this project:</p>
      <li>observables</li>
      <li>reactive forms</li>
      <li>form validation</li>
      <li>services</li>
    </ul>


  </div>
  <div class="sources">
    <span>Sources</span>
    <ul>
      <li>
        Background photo:
        <a href="https://unsplash.com/" target="_blank">unsplash.com</a>

      </li>
      <li>
        Book cover photo:
        <a href="https://pixabay.com/" target="_blank">pixabay.com</a>
      </li>
    </ul>

  </div>


</div>
