<div class="footer">
  <!-- <div class="menu">
    <a *ngFor="let item of menu" [routerLink]="item" [routerLinkActive]="'active'">{{ item }}</a>
  </div> -->
  <div class="tech-info">
    <div class="tech-info-left">
      <fa-icon [icon]="faBookOpen" size="2x" [routerLink]="'/bookshelf'"></fa-icon>

    </div>
    <div class="tech-info-center">
      <p>@Created 2022 by krzysiek</p>
    </div>
    <div class="tech-info-right">
      <fa-icon [icon]="faLaravel" size="lg"></fa-icon>
      <fa-icon [icon]="faAngular" size="lg"></fa-icon>
    </div>

  </div>
</div>
