<div class="login">
  <span class="page-title">Login</span>



  <div class="content">

    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <label for="email">Email: </label>
      <input type="email" name="email" formControlName="email" id="email" (input)="clearLoginFailMsg()">
      <label for="password">Password: </label>
      <input type="password" name="password" formControlName="password" id="password" (input)="clearLoginFailMsg()">
      <button type="submit" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>

  </div>

  <div class="errors">
    <div>
      <app-error [errors]="loginForm.get('email')?.hasError('required') || loginForm.get('email')?.hasError('email')"
        msg="Email is incorrect!" msgValidated="Email OK">
      </app-error>
      <app-error [errors]="loginForm.get('password')?.hasError('required')" msg="Password required!"
        msgValidated="Password required.">
      </app-error>
    </div>
    <p *ngIf="checkLoginAttemp()">Login attemp fail! Check your login  data and try again.</p>
  </div>
  <span class="demo-sign">
    <button style="padding:4px; margin: 4px; position: absolute; top: 4px; right: 4px;" (click)="paste()">Paste into form</button>

     <h1>Data for login:</h1>
     <p>email: guest@guest.mail</p>
     <p>password: guest</p>
     <p>If you reload page you will be logout.</p>
   </span>
</div>
