@import "../../../variables.scss";

* {
  display: flex;
}
h1 {
  display: none;
}
fa-icon {
  color: $text-color;
  padding: 4px;
  size: 20px;

  &:hover {
    color: $hover-color;
  }
}
.social-media {
  flex-direction: row;

  margin-right: 16px;
  gap: 8px;
 // background-color: aqua;
}
.icons {
  padding: 4px;

}


@media screen and (min-width:600px){
  h1 {
    display: flex;
    color: $text-color;
  }

}
