@import "../../../variables.scss";

* {
  display: flex;
}

.logo {
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  min-height: 10vh;
  background-color: $bg-color;

}
.logo-icon {
  margin-left: 16px;
  color: $text-color;
  &:hover {
    color: $hover-color;
  }
}
