@import '../../../variables.scss';

* {
  display: flex;
}

h1 {
  color: aliceblue;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.navigation {

 position: relative;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  gap: 16px;
  background-color: rgb(0, 0, 0);
}

.hamburger {
  //background-color: blue;
  margin: 4px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-left: 4px;
  gap: 3px;
  cursor: pointer;

  span {
    width: 100%;
    min-height: 3px;
    background-color: white;
    border-radius: 6px;

    &:hover {
      background-color: red;
    }
  }

  &:hover>span {
    background-color: red;

  }
}

.hamburger-menu {

  position: absolute;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 8px;
  width: 100%;
  height: 30vh;
  z-index: 3;
  top: 0px;
  left: 0;
  flex-flow: row wrap;
  background-color: aliceblue;
  a {
    padding: 4px;
  }
}
.nav-search {

  width: 100%;
  justify-content: center;
  //background-color: aliceblue;
}

.social-media {
  width: 25%;
  //background-color: aqua;
  align-items: center;
  justify-content: center;

}
